/* body {
  position: fixed;
} */
ol,
li,
ul,
h1,
h2,
h3 {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 900;

}

img {
  display: block;
  margin: auto;

}

* {
  color: hsl(0, 0%, 100%);
  font-style: italic;
}


h1 {
  background-color: aliceblue;
  color: red;
  padding: 10px;

}


h2 {
  background-color: aquamarine;
  color: chocolate;
  padding: 10px;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(95, 158, 160, 0.792);

}

body {
  background-image: url(../../odin-links-and-images/images/1934663.png);
}